@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
}
body{
    // cursor: none;
    overflow: hidden;
}
@layer utilities { 
    .btn-shadow{
    box-shadow: 6px 6px 12px #cbced1,
             -6px -6px 12px #ffffff;
    // width: 50px;
    // height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline:none;
    -webkit-tap-highlight-color: transparent;
    &:focus{
         outline:none;
         border-radius: 50%;
    }
    svg{
        transition: all 0.3s ease-in-out;
    }
    a{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    &::after{
        content: '';
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: inherit;
        outline:none;
        box-shadow:inset 6px 6px 12px #cbced1,
                inset -6px -6px 12px #fff;

    }  
    &.fb{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #4267B2;
            }
        }
    }      
     &.itg{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #e74c3c;
            }
        }
    } 
    &.gg{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #4267B2;
            }
        }
    }           
    &:hover{
        box-shadow:none;
        &::after{
            opacity: 1;
        }
        svg{
            fill: #e74c3c;
        }
    }
    &-dark{
        box-shadow: 5px 5px 10px #202020,
             -5px -5px 10px #2c2c2c;
        &::after{
            box-shadow:inset 5px 5px 10px #202020,
        inset -5px -5px 10px #2c2c2c;
        }
        &-50{
            box-shadow:  4px 4px 8px #202020,
                        -4px -4px 8px #2c2c2c;
                        &::after{
            box-shadow:inset 5px 5px 10px #202020,
        inset -5px -5px 10px #2c2c2c;
         
        }
         &:hover{
        box-shadow:none;
        &::after{
            opacity: 1;
        }
        svg{
            fill: #e74c3c;
        }
    }
        }
         &:hover{
        box-shadow:none;
        &::after{
            opacity: 1;
        }
        svg{
            fill: #e74c3c;
        }
    }
    }
}
.btn-shadow-dark{
    &.fb{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #4267B2;
            }
        }
    }      
     &.itg{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #e74c3c;
            }
        }
    } 
    &.gg{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #4267B2;
            }
        }
    }      
}
.btn-shadow-darklight{
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #fff;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    svg{
        transition: all 0.3s ease-in-out;
    }
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 50%;
        box-shadow:inset 3px 3px 8px #b1b1b1,
                inset -3px -3px 8px #fff;

    }             
    &:hover{
        box-shadow:none;
        &::after{
            opacity: 1;
        }
        svg{
            &.light{

                fill: #FCD34D;
            }
            &.dark{
                fill: #000;

            }
        }
    }
    &.fb{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #4267B2;
            }
        }
    }      
     &.itg{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #e74c3c;
            }
        }
    } 
    &.gg{
        &:hover{
            box-shadow:none;
            &::after{
                opacity: 1;
            }
            svg{
                fill: #4267B2;
            }
        }
    }      
}
.wrap-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 
    inset 3px 3px 3px #a7aaaf,
    /* top left */
    inset -3px -3px 3px #fff;
    &-dark{
        box-shadow: inset 5px 5px 10px #202020, inset -5px -5px 10px #2c2c2c;
        img{
            box-shadow: 5px 5px 10px #202020,
             -5px -5px 10px #2c2c2c;
        }
    }
    .avatar{
        position: relative;
        // margin: 30px;
        width: 100px;
        height: 100px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 
            3px 3px 3px #a7aaaf,
            -3px -3px 3px #fff
        }
    }
}
.t-8{
    top:2rem;
}
}
.bg-app{
    background-color: #ecf0f3;
}
.setting{
    position: absolute !important;
}
.btn-shadow_action{
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #ecf0f3;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
                &:hover{
                    color: #666;
 box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
                }
}
// .fade-enter {
//   opacity: 0;
//   z-index: 1;
// }

// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transition: opacity 250ms ease-in;
// }

.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
// .cursor{
//     position: absolute;
//     width: 3em;
//     height: 3em;
//     border: 2px solid black;
//     border-radius: 50%;
//     z-index: 1000;
//     transform: translate(-50%, -50%);
//     pointer-events: none;
//     transition: .2s all;
// }